body {
    font-family: sans-serif;
    line-height: 150%
}
img {
    max-width: 100%; /*make the width attribute on the parent <p> affect the inner <img>*/
}
.byline {
  font-style: italic;
  font-size: 0.85em;
  color: gray;
  margin-top: -1em;
}
.nav-home {
  font-size: 0.85em;
  margin-top: 2em;
}
.nav-home a {
  color: #666;
  text-decoration: none;
}
.nav-home a:hover {
  text-decoration: underline;
}
